.flogo {
  width: 248px;
  height: 57px;
}
.header 
  {
  width: auto;
  height: auto;
  background-color: #69b246;
    color: white;
      padding: 20px;
}

p {
  height: 20px;
  text-align: center;
  padding: 40px;
  font-size: 50px;
  font-weight: 750;
  }

.Assign {
  width: 157px;
  height: 44px;
  border-radius: 45px;
  background-color: #4b368e;
  color: white;
  border: none;
}
.teacherResources {
  width: 269px;
  height: 44px;
  border-radius: 45px;
  background-color: #219653;
  color: white;
  border: none;
}

p4 {
  width: 259px;
  height: 59px;
  font-family: Arial;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.step {
  width: 880px;
  height: 105px;
  border: solid 2px #2735b4;
  background-color: #dde9f3;
  padding: 10px;
}

p2 {
  width: 106px;
  height: 18px;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 150%;
  letter-spacing: normal;
  color: #2735b4;
}

p10 {
  font-style: italic;
  color: #828282;
  font-weight: bold;
  font-size: 17.5px;
}


p3 {
  width: 752px;
  height: 28px;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
/*
.textbox{
  width: 843px;
  height: 51px;
  border-radius: 5px;
  border: solid 2px #828282;
  background-color: #ffffff;
  resize:none;
  overflow:hidden;
 /* position:absolute;
 top: 500px;     
}
*/


textarea {
  width: 843px;
  height: 58px;
  border-radius: 5px;
  border: solid 2px #828282;
  resize: none;
  overflow: hidden;
  min-height: 20px;
  max-height: 100px;
  
}
#textbox0{
  position: absolute;
  top: 500px;
          }


#textbox1{
  position: absolute;
  top: 600px;
         }


#textbox2{
  position: absolute;
  top: 700px;
}

#textbox3{
   position: absolute;
   top: 800px;
}


#textbox4{
  position: absolute;
  top: 900px;
         }

p5{
  font-size: 20px;
  font-weight: 700;
  padding:30px;
 }

.vocabwords {
  width: 320px;
  height: 300px;
  border: solid 2px #e0e0e0;
  background-color: #dde9f3;
  margin-left: auto;
             }


.rhymes{
  width: 320px;
  height: 300px;
  border: solid 2px #e0e0e0;
  background-color: #dde9f3;
  margin-left: auto;
}


body {
  margin: auto;
  padding: 10px;
     }
/*
.purpleMic {
  padding: 25px 22.5px;
  background: #e9e9e9 url(https://www.iconsdb.com/icons/preview/indigo/microphone-8-xxl.png) 3px no-repeat ;
  background-size: 40px 45px;
  border-radius: 8px;
  background-color:white;
  backkground-position: center;
  border: 2px solid #939393;
  position: relative;
  left: 850px;
  bottom: 557px;
  */

.purpleMic{
 width: 45px;
 height: 51px;
 position: relative;
 left: 850px;
 top: 20px;
 padding: 3px;
 border: none;
 border-radius: 5px;
 }

#purpleMic0{
  top: -580px;
}


#purpleMic1{
  top: -537px;
}

#purpleMic2{
  top: -494px;
}



#purpleMic3{
  top: -450px;
}





p9{
  font-size: 35px;
  font-weight: 700;
  
}


#purpleMic4{
  top: -410px;
}


#audio{
  position: absolute;
  top: 1000px;
  
}
